Repository phoenixifier/brello: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "**/*.{ts,tsx,css}": "prettier --write",
  "*.ts": "eslint --fix",
  "*.css": "stylelint --fix"
}

chore: editorconfig setup
  .editorconfig
  .husky/pre-commit
Due: none

feat: src proper setup
  src/App.css
  src/App.tsx
  src/app/index.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: tooling fixes
  .eslintrc.cjs
  .prettierignore
  .prettierrc.json
  .stylelintrc.json
  index.html
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/app/index.tsx
  src/app/styles/index.css
Due: prettier --write, stylelint --fix

feat: public files added
  index.html
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon-192.png
  public/icon-512.png
  public/icon-development.svg
  public/icon-production.svg
  public/icon.svg
  public/social.jpg
  public/vite.svg
Due: none

feat: env setup
  .env
Due: none

feat: CI setup
  .github/workflows/check.yml
  package.json
Due: none

chore: tailwind configured
  .eslintrc.cjs
  .prettierrc.cjs
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/app/index.tsx
  src/app/styles/index.css
  tailwind.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: login structure composed
  public/Geometric shapes.svg
  public/google.svg
  public/icon.svg
  public/mail.svg
  src/app/components/Footer.tsx
  src/app/components/Header.tsx
  src/app/components/Layout.tsx
  src/app/components/Login.tsx
  src/app/index.tsx
  tailwind.config.js
  tailwind.config.ts
Due: prettier --write, eslint --fix

feat: effector initial setup
  .babelrc
  package.json
  pnpm-lock.yaml
  src/app/components/Footer.tsx
  src/app/components/Header.tsx
  src/app/components/Layout.tsx
  src/app/components/Login.tsx
  src/app/index.tsx
  src/pages/auth/sign-in/index.tsx
  src/pages/auth/sign-in/model.ts
  src/shared/init/index.ts
  vite.config.ts
Due: prettier --write, eslint --fix

fix: component changes
  src/app/components/Login.tsx
  src/app/index.tsx
  src/pages/auth/sign-in/geometric-desktop.svg
  src/pages/auth/sign-in/geometric-mobile.svg
  src/pages/auth/sign-in/index.tsx
  src/pages/auth/sign-in/model.ts
Due: prettier --write, eslint --fix

feat: components restructure + screen context
  src/app/components/Login.tsx
  src/app/index.tsx
  src/main.tsx
  src/pages/auth/sign-in/components/footer.tsx
  src/pages/auth/sign-in/components/header.tsx
  src/pages/auth/sign-in/components/layout.tsx
  src/pages/auth/sign-in/index.tsx
  src/pages/auth/sign-in/model.ts
  src/shared/screen-context.tsx
  src/shared/ui/button/index.tsx
  src/shared/ui/input/index.tsx
Due: prettier --write, eslint --fix

feat: sign-in implementation
  .env
  package.json
  pnpm-lock.yaml
  src/env.d.ts
  src/shared/api/client.ts
  src/shared/api/index.ts
  src/shared/api/rest/auth.ts
  src/shared/config/index.ts
  src/shared/shared.d.ts
Due: prettier --write, eslint --fix

feat: logged page
  public/arrow-left.svg
  public/mail-purple.svg
  src/app/index.tsx
  src/pages/auth/sign-in/components/layout.tsx
  src/pages/auth/sign-in/components/logged-page.tsx
  src/shared/api/rest/auth.ts
Due: prettier --write, eslint --fix

fix: login centered properly
  src/app/index.tsx
  src/pages/auth/sign-in/components/layout.tsx
  src/pages/auth/sign-in/components/logged-page.tsx
  src/pages/auth/sign-in/index.tsx
Due: prettier --write

feat: email error handling + components resctructure
  src/pages/auth/sign-in/components/Footer.tsx
  src/pages/auth/sign-in/components/Header.tsx
  src/pages/auth/sign-in/components/Layout.tsx
  src/pages/auth/sign-in/components/Login.tsx
  src/pages/auth/sign-in/components/LoginFinished.tsx
  src/pages/auth/sign-in/components/logged-page.tsx
  src/pages/auth/sign-in/index.tsx
  src/pages/auth/sign-in/model.ts
Due: prettier --write, eslint --fix

fix: folders restructure
  public/geometric-desktop.svg
  public/geometric-mobile.svg
  public/pattern.svg
  public/user.svg
  src/pages/auth/sign-in/index.tsx
  src/pages/auth/sign-in/model.ts
  src/pages/workspace/user-intro/index.tsx
  src/pages/workspace/user-intro/model.ts
  src/shared/ui/login/Login.tsx
  src/shared/ui/login/LoginFinished.tsx
  src/shared/ui/login/LoginFooter.tsx
  src/shared/ui/login/LoginHeader.tsx
  src/shared/ui/login/LoginLayout.tsx
Due: prettier --write, eslint --fix

feat: atomic router setup
  .babelrc
  package.json
  pnpm-lock.yaml
  public/scheme-en-dark.png
  public/scheme-en-light.png
  public/scheme-ru-dark.png
  public/scheme-ru-light.png
  public/scheme-uz-dark.png
  public/scheme-uz-light.png
  src/pages/auth/sign-in/model.ts
  src/shared/routing/index.ts
  src/shared/routing/routes.ts
Due: prettier --write, eslint --fix

feat:user-intro page and routes setup
  public/Geometric shapes.svg
  public/background-pattern.svg
  public/pattern.svg
  public/scheme-en-dark.png
  public/scheme-en-light.png
  public/scheme-ru-dark.png
  public/scheme-ru-light.png
  public/scheme-uz-dark.png
  public/scheme-uz-light.png
  public/user-intro.svg
  src/app/index.tsx
  src/main.tsx
  src/pages/auth/sign-in/index.ts
  src/pages/auth/sign-in/page.tsx
  src/pages/onboarding/user-intro/index.ts
  src/pages/onboarding/user-intro/model.ts
  src/pages/onboarding/user-intro/page.tsx
  src/shared/routing/index.ts
  src/shared/routing/routes.ts
Due: prettier --write, eslint --fix

feat:home and error404 routes
  src/app/index.tsx
  src/pages/auth/sign-in/index.ts
  src/pages/auth/sign-in/model.ts
  src/pages/auth/sign-in/page.tsx
  src/pages/error404/index.ts
  src/pages/error404/model.ts
  src/pages/error404/page.tsx
  src/pages/home/index.ts
  src/pages/home/model.ts
  src/pages/home/page.tsx
  src/pages/index.ts
  src/pages/onboarding/user-intro/index.ts
Due: prettier --write, eslint --fix

feat:background fixed
  public/workspace.svg
  src/pages/onboarding/user-intro/page.tsx
  src/shared/ui/login/LoginLayout.tsx
Due: prettier --write

feat: auth finished page cases
  package.json
  pnpm-lock.yaml
  public/error.svg
  public/pending.svg
  src/pages/auth/finish/index.ts
  src/pages/auth/finish/model.ts
  src/pages/auth/finish/page.tsx
  src/pages/index.ts
  src/shared/routing/routes.ts
  src/shared/ui/login/LoginFailed.tsx
  src/shared/ui/login/LoginPending.tsx
Due: prettier --write, eslint --fix

feat: model logic
  src/pages/auth/finish/model.ts
  src/pages/auth/finish/page.tsx
  src/shared/api/rest/auth.ts
  src/shared/ui/login/LoginFailed.tsx
Due: prettier --write, eslint --fix

feat: checking
  src/pages/auth/finish/model.ts
Due: prettier --write, eslint --fix

feat: routes completed
  src/pages/auth/finish/model.ts
  src/pages/auth/finish/page.tsx
  src/shared/ui/login/LoginFailed.tsx
  src/shared/ui/login/LoginSuccessful.tsx
Due: prettier --write, eslint --fix

feat: onborading workspace + layout
  public/background-workspace.svg
  src/pages/index.ts
  src/pages/onboarding/user-intro/page.tsx
  src/pages/onboarding/workspace/index.ts
  src/pages/onboarding/workspace/model.ts
  src/pages/onboarding/workspace/page.tsx
  src/shared/routing/routes.ts
  src/shared/ui/onboarding/OnboardingLayout.tsx
Due: prettier --write, eslint --fix

feat: viewer init
  src/shared/viewer/index.ts
Due: prettier --write, eslint --fix

feat: protected routes init
  src/shared/viewer/index.ts
Due: prettier --write, eslint --fix

feat: protected routes for login and onboarding
  .eslintrc.cjs
  .stylelintignore
  src/pages/auth/sign-in/index.ts
  src/pages/auth/sign-in/model.ts
  src/pages/auth/sign-in/page.tsx
  src/pages/onboarding/user-intro/index.ts
  src/pages/onboarding/user-intro/model.ts
  src/pages/onboarding/user-intro/page.tsx
  src/shared/ui/login/LoginLayout.tsx
  src/shared/viewer/index.ts
Due: prettier --write, eslint --fix

feat: workplace table init
  src/shared/api/rest/auth.ts
  src/shared/api/rest/common.ts
  src/shared/api/rest/profiles.ts
  src/shared/api/rest/workspaces.ts
Due: prettier --write, eslint --fix

feat: profiles and workspaces
  src/shared/api/database.types.ts
  src/shared/api/index.ts
  src/shared/api/rest/common.ts
  src/shared/api/rest/profiles.ts
  src/shared/api/rest/workspaces.ts
Due: prettier --write, eslint --fix

feat: workspace effector logic init
  src/pages/onboarding/workspace/model.ts
  src/shared/api/rest/profiles.ts
Due: prettier --write, eslint --fix

feat: user-intro onboarding logic
  src/pages/onboarding/user-intro/model.ts
  src/pages/onboarding/user-intro/page.tsx
  src/pages/onboarding/workspace/model.ts
  src/shared/ui/button/index.tsx
  src/shared/ui/login/Login.tsx
  src/shared/ui/onboarding/OnboardingLayout.tsx
  src/shared/viewer/index.ts
Due: prettier --write, eslint --fix
